<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">
            <span th:if="${currentUser != null}" th:text="${currentUser.email}">Email</span>
            <span th:if="${currentUser == null}">No Email</span>
            <span th:text="' with roles: '"></span>
            <span th:if="${currentUser != null}">
                <span th:each="role : ${currentUser.roles}" th:text="${#strings.replace(role.name, 'ROLE_', '') + ' '}"></span>
            </span>
            <span th:if="${currentUser == null}">No Roles</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
        <span class="navbar-text">
            <a href="/logout">Logout</a>
        </span>
    </nav>
</header>

<section>
    <div class="row vh-100 mt-3" id="one">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" href="/admin" role="tab" aria-controls="v-pills-admin" aria-selected="true">
                    Admin
                </a>
                <a class="nav-link" href="/user" role="tab" aria-controls="v-pills-user" aria-selected="false">
                    User
                </a>
            </div>
        </div>

        <div class="col-10 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel">
                    <div class="col-12 bg-light">
                        <h1>Admin Panel</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="users-table-tab" data-toggle="tab" href="#users-table" role="tab" aria-controls="users-table" aria-selected="true">Users Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#create-user" role="tab" aria-controls="create-user" aria-selected="false">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-3" id="myTabContent">
                            <div class="tab-pane fade show active" id="users-table" role="tabpanel" aria-labelledby="users-table-tab">
                                <div class="container-fluid border border-gray-500 bg-white">
                                    <div class="row-fluid mt-3">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody id="userTableBody">
                                            <!-- Users will be dynamically loaded here by JavaScript -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="create-user" role="tabpanel" aria-labelledby="new-user-tab">
                                <div class="container-fluid border border-gray-500 bg-white">
                                    <div class="row-fluid mt-3">
                                        <form id="createUserForm" method="post" class="form-group">
                                            <div class="mb-3">
                                                <label>First Name</label>
                                                <input type="text" id="newUserFirstName" class="form-control" required/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Last Name</label>
                                                <input type="text" id="newUserLastName" class="form-control" required/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Age</label>
                                                <input type="number" id="newUserAge" class="form-control" required min="1"/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Email</label>
                                                <input type="email" id="newUserEmail" class="form-control" required/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Password</label>
                                                <input type="password" id="newUserPassword" class="form-control" required/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Roles:</label>
                                                <div>
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" value="ROLE_USER" id="newUserRoleUser"> User
                                                    </label>
                                                </div>
                                                <div>
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" value="ROLE_ADMIN" id="newUserRoleAdmin"> Admin
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create User</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal for Editing User -->
                <div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="editUserForm" class="form-group">
                                    <div class="mb-3">
                                        <label for="editName">First Name</label>
                                        <input type="text" id="editName" class="form-control" required/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editLastName">Last Name</label>
                                        <input type="text" id="editLastName" class="form-control" required/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editAge">Age</label>
                                        <input type="number" id="editAge" class="form-control" required min="1"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editEmail">Email</label>
                                        <input type="email" id="editEmail" class="form-control" required/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editPassword">Password</label>
                                        <input type="password" id="editPassword" class="form-control"/>
                                    </div>
                                    <div class="mb-3">
                                        <label>Roles:</label>
                                        <div>
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" value="ROLE_USER" id="editUserRoleUser"> User
                                            </label>
                                        </div>
                                        <div>
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" value="ROLE_ADMIN" id="editUserRoleAdmin"> Admin
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" id="editUserId">
                                    <button type="submit" class="btn btn-primary">Update User</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal for Deleting User -->
                <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>ID: <span id="deleteUserId"></span></p>
                                <p>First name: <span id="deleteUserName"></span></p>
                                <p>Last name: <span id="deleteUserLastName"></span></p>
                                <p>Age: <span id="deleteUserAge"></span></p>
                                <p>Email: <span id="deleteUserEmail"></span></p>
                                <p>Role:
                                    <span id="deleteUserRoles"></span>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" onclick="deleteUser()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadUsers();

        document.getElementById('createUserForm').addEventListener('submit', function (event) {
            event.preventDefault();
            createUser();
        });

        document.getElementById('editUserForm').addEventListener('submit', function (event) {
            event.preventDefault();
            updateUser();
        });
    });

    function loadUsers() {
        fetch('/api/users')
            .then(response => response.json())
            .then(users => {
                const userTableBody = document.getElementById('userTableBody');
                userTableBody.innerHTML = '';
                users.forEach(user => {
                    const row = document.createElement('tr');
                                    row.innerHTML = `
                       <td>${user.id}</td>
                       <td>${user.name}</td>
                       <td>${user.lastName}</td>
                       <td>${user.age}</td>
                       <td>${user.email}</td>
                       <td>${user.roles.map(role => role.name.replace('ROLE_', '')).join(' ')}</td>
                       <td>
                           <button class="btn btn-primary btn-sm" onclick="openEditModal(${user.id})">Edit</button>
                           <button class="btn btn-danger btn-sm" onclick="openDeleteModal(${user.id})">Delete</button>
                       </td>
                   `;
                    userTableBody.appendChild(row);
                });
            });
    }
    function createUser() {
        const newUser = {
            name: document.getElementById('newUserFirstName').value,
            lastName: document.getElementById('newUserLastName').value,
            age: document.getElementById('newUserAge').value,
            email: document.getElementById('newUserEmail').value,
            password: document.getElementById('newUserPassword').value,
            roles: [
                document.getElementById('newUserRoleUser').checked ? { name: 'ROLE_USER' } : null,
                document.getElementById('newUserRoleAdmin').checked ? { name: 'ROLE_ADMIN' } : null
            ].filter(Boolean)
        };

        fetch('/api/users', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(newUser)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(() => {
                loadUsers();
                $('#users-table-tab').tab('show');
            });
    }



    function openEditModal(id) {
        fetch(`/api/users/${id}`)
            .then(response => response.json())
            .then(user => {
                document.getElementById('editUserId').value = user.id;
                document.getElementById('editName').value = user.name;
                document.getElementById('editLastName').value = user.lastName;
                document.getElementById('editAge').value = user.age;
                document.getElementById('editEmail').value = user.email;
                document.getElementById('editPassword').value = '';
                document.getElementById('editUserRoleUser').checked = user.roles.some(role => role.name === 'ROLE_USER');
                document.getElementById('editUserRoleAdmin').checked = user.roles.some(role => role.name === 'ROLE_ADMIN');

                $('#editModal').modal('show');
            });
    }

    function updateUser() {
        const id = document.getElementById('editUserId').value;
        const updatedUser = {
            id: id,
            name: document.getElementById('editName').value,
            lastName: document.getElementById('editLastName').value,
            age: document.getElementById('editAge').value,
            email: document.getElementById('editEmail').value,
            password: document.getElementById('editPassword').value,
            roles: [
                document.getElementById('editUserRoleUser').checked ? { name: 'ROLE_USER' } : null,
                document.getElementById('editUserRoleAdmin').checked ? { name: 'ROLE_ADMIN' } : null
            ].filter(Boolean)
        };

        fetch(`/api/users/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedUser)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(() => {
                loadUsers();
                $('#editModal').modal('hide');
            });
    }


    function openDeleteModal(id) {
        fetch(`/api/users/${id}`)
            .then(response => response.json())
            .then(user => {
                document.getElementById('deleteUserId').textContent = user.id;
                document.getElementById('deleteUserName').textContent = user.name;
                document.getElementById('deleteUserLastName').textContent = user.lastName;
                document.getElementById('deleteUserAge').textContent = user.age;
                document.getElementById('deleteUserEmail').textContent = user.email;
                document.getElementById('deleteUserRoles').textContent = user.roles.map(role => role.name.replace('ROLE_', '')).join(' ');
                $('#deleteModal').modal('show');
            });
    }

    function deleteUser() {
        const id = document.getElementById('deleteUserId').textContent;

        fetch(`/api/users/${id}`, {
            method: 'DELETE'
        })
            .then(() => {
                loadUsers();
                $('#deleteModal').modal('hide');
            });
    }
</script>
